---
apiVersion: v1
kind: Service
metadata:
  name: local-registry
  namespace: default
spec:
  type: NodePort
  selector:
    deployment: local-registry
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30005
